.layout_container {
    .layout_header {
        position: fixed;
        z-index: 1000;
        width: 100%;
        background-color: #ffffff;
        height: 96px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

        .middle_content {
            height: 96px;
        }

        .header_logo {
            height: 100%;
            width: 100%;
            .logo_item-header {
                width: 15rem;
                margin-top: -2.5rem;
                margin-left: -4.2rem;
            }
        }
        .header-rule__logo {
            display: flex;
            flex-direction: row;
            padding: 0 12px 0 0;
        }
        .slogan_header {
            margin-left: -6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin-top: -2.2rem;
                font-size: 1rem;
                font-weight: 600;
                font-style: italic;
                color: var(--color-primary);
            }
            span {
                margin-top: -2.5rem;
                font-size: 1rem;
                color: var(--color-sub-primary);
                font-family: 'Parisienne', cursive !important;
            }
        }
    }
    .layout_subcontain {
        margin-top: 96px;
        .layout_sider {
            z-index: 99;
            min-height: 100vh;
            overflow: auto;
            position: fixed;
        }
        .layout_content {
            padding-left: 250px;
        }
    }
}
