.layout_container {
    .layout_header {
        position: fixed;
        z-index: 1000;
        width: 100%;
        background-color: #ffffff;
        height: 96px;
    }
    .layout_sider {
        z-index: 99;
        min-height: 100vh;
        overflow: auto;
        position: fixed;
    }
    .layout_content {
        padding-left: 250px;
    }
}
